h1 Address Book
.search
  label Search
  input(placeholder="Enter term here", ng-model="query")
.contact-entry
  .btn.btn-primary(data-toggle="modal", data-target="#modal") Enter New Contact
.gallery
  .person(ng-repeat="(id, person) in main.people | objToArr | orderBy:'name' | filter:query")
    a(href="/#/people/{{person._id}}")
      img(ng-src="{{person.photo}}")
//- div(ng-include="'views/table.html'")
div(ng-include="'views/modal.html'")



