h1 {{person.data.name}}
img(ng-src="{{person.data.photo}}")
a(href="http://twitter.com/{{person.data.twitter}}", target="_blank") {{person.data.twitter}}
a(href="tel:{{person.data.phone}}") {{person.data.phone}}
