.modal.fade#modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(data-dismiss="modal")
          span &times;
        h2 Contact
      .modal-body
        form(name="contactForm", novalidate)
          .form-group(ng-class="{'has-success': contactForm.n.$dirty && main.person.name.length > 1, 'has-error': contactForm.n.$dirty && !main.person.name}")
            label.control-label Name
            input.form-control(name="n", type="text", placeholder="Bob", ng-model="main.person.name", required)
          .form-group(ng-class="{'has-success': contactForm.e.$dirty && main.person.email, 'has-error': contactForm.e.$dirty && !main.person.email}")
            label.control-label Email
            input.form-control(name="e",type="email", placeholder="bob@abc.com", ng-model="main.person.email", required)
          .form-group(ng-class="{'has-success': contactForm.t.$dirty && main.person.twitter.length > 1 && main.person.twitter[0] === '@', 'has-error': contactForm.t.$dirty && (main.person.twitter.length < 2 || main.person.twitter[0] !== '@')}")
            label.control-label Twitter
            input.form-control(name="t", type="text", placeholder="@bob", ng-model="main.person.twitter", required)
          .form-group(ng-class="{'has-success': contactForm.p.$dirty && main.person.phone, 'has-error': contactForm.p.$dirty && !main.person.phone}")
            label.control-label Phone
            input.form-control(name="p", type="text", placeholder="6152222222", ng-model="main.person.phone", required)
          .form-group
            label.control-label URL
            input.form-control(name="i", type="url", placeholder="http://google.com/img.jpg", ng-model="main.person.photo", required)
      .modal-footer
        button.btn.btn-default(data-dismiss="modal") Close
        button.btn.btn-danger(ng-click="contactForm.$valid && main.saveAddress()", ng-disabled="contactForm.$invalid") Add a contact
