doctype html
html(lang="en", ng-app="addressBook")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Address Book
    link(rel="stylesheet", href="/lib/build.css")
    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Vollkorn:400,700', rel='stylesheet', type='text/css')
  body
    .container
      nav.navbar
        ul.nav.navbar-nav.navbar-right
          li: a(href="/#/") Home
          li: a(href="/#/contact") Contact
          li: a(href="/#/about") About
          li: a(href="/#/people") Visit App
      .app(ng-view)

    script(src="lib/build.js")
    script(src="js/main.js")


